.header {
    height: 200px;
    background-color: #990e0e;
    text-align: center;
}

.first-image{
    background-color: aqua;
    height: 300px;
}

.image {
    padding: 10px
}

.background-image {
    height: 210px;
    background: url("../images/cuzco2.jpg") no-repeat;
}

.cuzco {
    color: orange;
    float: right;
    font-family: The_Emperors_font;
    vertical-align: middle;
}

span {
    color: orange;
    font-family: 'El Rio Lobo', Courier, monospace;
    float: right;
}

.cuzco-font {
    font-family: 'El Rio Lobo', Courier, monospace;
    color: rgb(235, 156, 11);
}

.prices {
    text-align: center;
}

.text {
    color: white;
}

p {
    color: white;
}