.header {
    background-color: #990e0e;
    padding: 50px;
    text-align: center;
}

.first-image{
    background-color: aqua;
    height: 400px;
}

img {
    display: block;
    padding-top: 20px;
    margin: auto;
    width: 600px;
}

.background-image {
    height: 600px;
    background: url("../images/cuzco2.jpg") no-repeat;
    background-size: cover;
}

.cuzco {
    color: orange;
    float: right;
    font-family: The_Emperors_font;
    vertical-align: middle;
}

.cuzco-font {
    font-family: 'El Rio Lobo', Courier, monospace;
    color: rgb(235, 156, 11);
}

.prices {
    text-align: center;
    font-family: 'El Rio Lobo';
    color: #000;
}

.text {
    color: white;
}

p {
    color: white;
}

span {
    display: block;
}

h1 {
    margin-top: 0;
}